*.o
testgrid
testdistance
testmazeimg
testmazeimgstdout
binary_tree
sidewinder
aldousbroder
aldousbroder_masked
wilson
wilson_masked
huntkill
huntkill_masked
backtracker
backtracker_masked
core
tags
*.swp
tmp*png
tmp*pnm
tmp*ppm
tmp*pgm
tmp*pbm
